body,
html {
  height: 100%;
}

.bg {
/* background-color: aqua; */
  /* The image used */
  background-image: url("/assets/images/bg5.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button{
    margin-right: 3re;
}
/* .content {
  margin: auto;
} */
/* div{
    margin: 3rem;
} */